<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center py-3">
          <p class="mb-0">Developed By : Zobir Nazary</p>
        </div>
      </div>
</div>