<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="/home" class="text-nowrap logo-img">
        <h6>Library Management System</h6>
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/home" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Manage Books</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/books/add" aria-expanded="false">
            <span>
              <i class="ti ti-book"></i>
            </span>
            <span class="hide-menu">Add Book</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/books/edit" aria-expanded="false">
            <span>
              <i class="ti ti-edit"></i>
            </span>
            <span class="hide-menu">Edit Book</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/books/view" aria-expanded="false">
            <span>
              <i class="ti ti-books"></i>
            </span>
            <span class="hide-menu">View Books</span>
          </a>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Manage Members</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/members/add" aria-expanded="false">
            <span>
              <i class="ti ti-user-plus"></i>
            </span>
            <span class="hide-menu">Add Member</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/members/edit" aria-expanded="false">
            <span>
              <i class="ti ti-user-check"></i>
            </span>
            <span class="hide-menu">Edit Member</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/members/view" aria-expanded="false">
            <span>
              <i class="ti ti-users"></i>
            </span>
            <span class="hide-menu">View Members</span>
          </a>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Transactions</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/issue" aria-expanded="false">
            <span>
              <i class="ti ti-book-plus"></i>
            </span>
            <span class="hide-menu">Issue Books</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/return" aria-expanded="false">
            <span>
              <i class="ti ti-book-minus"></i>
            </span>
            <span class="hide-menu">Return Books</span>
          </a>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Reports</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/reports" aria-expanded="false">
            <span>
              <i class="ti ti-report"></i>
            </span>
            <span class="hide-menu">Reports</span>
          </a>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Settings</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/profile" aria-expanded="false">
            <span>
              <i class="ti ti-settings"></i>
            </span>
            <span class="hide-menu">Profile</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- Sidebar End -->
